# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
# Ignore common venv names
venv/
env/
tripenv/


# Jupyter Notebook checkpoints
.ipynb_checkpoints

# System files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# PDF and text output files
*.pdf
*.txt

# Logs or temporary files
*.log

# PyInstaller
*.spec
dist/
build/
